<div>
    <div class="wi-window-workspace-input">
        <legend for="wi-workspace-namespace"><%= __("Workspace name")%></legend>
        <input type="text" id="wi-workspace-namespace" name="name" required="required" validatetype="namespace" placeholder="<%= __("your-project-name")%>" />
    </div>
</div>
